<launch>
  <node pkg="calibrate_twist" name="calibrate_twist" type="calibrate_twist" output="screen">
    <param name="odo_cache_depths" value="100" />
    <param name="stability_timeout" value="5" />
    <param name="minStabilityDuration" value="1" />
    <param name="stability_intervalDuration" value="0.5" />
    <param name="stability_xThreshold" value="0.2" />
    <param name="stability_zThreshold" value="0.2" />
    <param name="calibration_calc_interval" value="0.1" />
    <param name="tfFixedFrame" value="/odom" />
    <param name="robotFrame" value="/base_footprint" />
    <param name="transforms_interval_size" value= "4" />
    <param name="cal_costmap" value= "move_base/local_costmap" />
    <param name="traj_sim_granularity_" value= "0.025" />
    <param name="traj_dist_threshold" value= "0.5" />
    <param name="accel_max_x" value= "0.25" />
    <param name="accel_max_y" value= "0.25" />
    <param name="accel_max_theta" value= "0.4" />


  </node>
</launch>
